#mainContent{
    #screenshots, #artwork{
        padding: space();
    }
    #screenshots img, #artwork img{
        cursor: pointer;
    }
    h1{
        @include reset("heading");
        font-size: font-size("xxl");
        text-align: center;
        margin-top: space();
        margin-bottom: space(1);
    }//Fin #mainContent h1
    h2{
        @include reset("heading");
        font-size: font-size("xl");
        margin-top: space();
        margin-bottom: space();
        color: color("yellow");
    }
    h3{
        @include reset("heading");
        padding-left: space();
    }
    #screenshots article,#artwork article{
        margin-bottom: space(4);
    }


    //Reponsive lg et xl
    @include media-breakpoint-up("lg"){
        #screenshots article,#artwork article{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            p{
                padding: space();
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        #screenshots .screenshotsArticles,#artwork .artworkArticles{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: space();
        }
    }
    @include media-breakpoint-up("xl"){
        #about article{
            padding: space(5);
        }
    }
}
#mediaContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 10000;
}
#mediaContainer img{
    border: solid 5px;
    max-height: 80%;
    width: auto;
}
#mediaContainer.visible{
    opacity: 1;
    visibility: visible;
}
